* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.CardGroupMenu {
    width: 100%;
    height: 700px;
    background: linear-gradient(270deg, #0A4FB6 -9.87%, #28859A 111.47%);
}

.CardGroupMenuText {
    margin-top: 30px;
}

.CardGroupMenuText1 {
    /* Subtitle / Base */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 6vh;
    line-height: 130%;
    /* or 57px */
    font-family: 'Andale Mono', monospace;

    text-align: center;

    color: white;
}

.CardGroupMenuText2 {

    width: 80%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */

    text-align: center;
    margin: auto;

    color: white;

    opacity: 0.7;
}

.flex_container {
    display: flex;
    flex-wrap: wrap;
    height: auto;

    justify-content: space-between;
    align-content: flex-end;
    }
.flex_item {
    width: 250px;
    height: 200px;
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    overflow: visible;
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
.flex_item:hover img {
    opacity: .5;
    transition: .5s;

}
.flex_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex_item:hover img {
    transform: translateY(0px);
    transition: .7s;
}
.flex_item:hover {

    transform: translateY(-10px);
    transition: .7s;
}
.flex_item div {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 3;
    display: flex;
}
.flex_item div a {
    position: relative;
    display: block;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    color: #333;
    font-family: 'Andale Mono',
        monospace;
    display: flex;
    font-style: normal;
    font-size: 17px;
    font-weight: bold;
    margin: 0 6px;
    transform: translateY(100px);
    transition: .7s;
    opacity: 0;
    text-align: center;

    }
.flex_item div a p:nth-child(1) {
    font-size: 20px;
    margin-top: 15%;
    margin-left: 5%;

}
.flex_item div a p:nth-child(2) {
    font-size: 19px;
    margin-top: 7.5%;
    margin-left: 8%;
    font-family: 'Andale Mono',
    monospace;

}
.flex_item:hover div a {
    width: 200px;
    height: 80px;
    border-radius: 10px;
    background: #60a4d1;
    transform: translateY(-30px);
    color: white;
    opacity: 0.8
}