 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
.news {
    margin-top: 1px;
}

.Card {
    overflow: hidden;
}

.Card Img {
    width: 100%;
    height: 350px;

}


.news_item {
    position: relative;
    margin: 1px 10px;
    border-radius: 5%;
    cursor: pointer;
    overflow: hidden;
    border: .3px solid #DFDFDF;

}

.SliderMenuText {
    margin-top: 1px;
}

.SliderMenuText1 {
    /* Subtitle / Base */

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 6vh;
    line-height: 110%;
    /* or 57px */
    font-family: "Andale Mono", monospace;
    text-align: center;
    color: #010b19;
}

.SliderMenuText2 {
    width: 80%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vh;
    line-height: 130%;
    text-align: center;
    margin: auto;
    color: #010b19;
    opacity: 0.7;
    margin-top: -1%;
}

.CarosuelMe {
    height: auto;
}


.CarouselMenu {
    height: 470px;
    margin-top: 3%;


}
.news_item {
    height: 350px;
}


.Curved {
    position: relative;
    width: 100%;
    height: 100% !important;
    margin-bottom:4%;
}

.Card:hover .Curved {
    position: relative;
    display: block;
    overflow: hidden;
    margin-top: -22%;
    z-index: 1;
    transition: .5s;
}

.CardFooterText1 {
    width: 100%;
    height: max-content;
    line-height: 8px;
    text-align: center;
    margin-top: -60px !important;
    display: none;
}


.CardFooterText1 p:nth-child(1) {
    font-size: 3.2vh;
}

.CardFooterText1 p:nth-child(2) {
    font-size: 2.3vh;
}

.Card:hover .CardFooterText1 p:nth-child(1) {
    font-size: 3vh;
}

.Card:hover .CardFooterText1 p:nth-child(2) {
    font-size: 2.2vh;
}

.Card:hover .CardFooterText1 {
    margin-top: -53px;
    z-index: 3;
    color: white;
    display: block;
    line-height: 10%;
}

.social_icons_Item {
    position: absolute;

}

.social_icons {
    z-index: 3;
}

.social_icons li {
    list-style-type: none;
    z-index: 4;
}

.social_icons li a {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    background: #184E61;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: bold;
    transform: translateX(-160px);
    margin: 6px 0px;
    transition: .7s;
    opacity: 0;
}

.social_icons li a i {
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: -8px;
}

.social_icons li a:hover i {
    color: #ebe0e0;

}

.Card .social_icons li {
    opacity: 1;

}

.Card:hover .social_icons li a {
    transform: translateX(0);
    transition: .5s;
    opacity: 1;
}

.CallMeGroup {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1CC198;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: .5s;
    display: none;
}

.CallMeGroup i {
    text-align: center;
    margin: auto;
    font-size: 20px;
    color: white;
}

.CallMeGroup:hover {
    background-color: #4ed3b2;


}

.CallMeGroupIcon {
    text-align: center;
    margin: auto;
    margin-left: 13.5px;
    margin-top: 15.5px;
}

.Card:hover .CallMeGroup {
    position: absolute;
    margin-top: -50px;
    justify-content: center;
    margin: auto;
    display: block;
    z-index: 4;
    transition: .7s;
    margin-left: 46.5%;
    transform: translateY(200px);


}
@media(min-width:1700px) {

    .SliderMenuText1 {
        font-size: 5vh;
    }

    .SliderMenuText2 {
        width: 100%;
    }

    .Card:hover .Curved {
        margin-top: -90px;
    }

    .Card:hover .CardFooterText1 {
        margin-top: -1%;
        line-height: 10%;
    }

    .Card:hover .CardFooterText1 p:nth-child(1) {
        font-size: 25px;
        margin-top: -45;
    }

    .Card:hover .CardFooterText1 p:nth-child(2) {
        font-size: 20px;
    }


    .CardFooterText1 p:nth-child(1) {
        font-size: 4px;
    }


    }

    @media(min-width:1201px) and (max-width:1400px) {
        .CarosuelMe {
            height: auto;
        }

        .CardFooterText1 {

            line-height: 4%;
            border-bottom: 15px;
            }
        .CardFooterText1 p:nth-child(1) {
            margin-top: 4%;
            font-size: 2.1vh;
        }
}
@media(max-width:1200px) {

    .SliderMenuText1 {
        /* Subtitle / Base */

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 5.5vh;
        line-height: 130%;
        /* or 57px */
        font-family: "Andale Mono", monospace;

        text-align: center;

        color: #010b19;
    }

    .SliderMenuText2 {
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 2.5vh;
        line-height: 160%;
        /* or 29px */

        text-align: center;
        margin: auto;

        color: #010b19;

        opacity: 0.7;
    }

    .Card:hover .CardFooterText1 {
        margin-top: -50px;
    }

    .Card:hover .CardFooterText1 p:nth-child(1) {
        font-size: 2.3vh;
        margin-top: 5%;
    }

    .Card:hover .CardFooterText1 p:nth-child(2) {
        font-size: 1.8vh;
    }

}
@media(max-width:1023px) {

    .Card:hover .CardFooterText1 p:nth-child(1) {
        font-size: 2.3vh;
        margin-top: 3%;
    }

    .Card:hover .CardFooterText1 p:nth-child(2) {
        font-size: 1.8vh;
    }
    }
@media(max-width:768px) {
    .Card:hover .Curved {
        margin-top: -88px;
    }
    .Card:hover .CardFooterText1 {
        margin-top: -56px;
        line-height: 10%;
    }

    .Card:hover .CardFooterText1 p:nth-child(1) {
        margin-top: -5%;
        font-size: 2.7vh;
    }

    .Card:hover .CardFooterText1 p:nth-child(2) {
        font-size: 2vh;
        margin-bottom: 5%;

    }

    .SliderMenuText1 {
        /* Subtitle / Base */

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 4.5vh;
        line-height: 130%;
        /* or 57px */
        font-family: "Andale Mono", monospace;

        text-align: center;

        color: #010b19;
    }

    .SliderMenuText2 {
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.8vh;
        line-height: 160%;
        /* or 29px */

        text-align: center;
        margin: auto;

        color: #010b19;

        opacity: 0.7;
    }
}

@media(max-width:700px) {
    .Card:hover .Curved {
        margin-top: -97px;
    }

    .Card:hover .CardFooterText1 {
        position: relative;
        margin-top: -63px;
        line-height: 10px;
        line-height: 5px;
    }

    .Card:hover .CardFooterText1 p:nth-child(1) {
        font-size: 3vh;
    }

    .Card:hover .CardFooterText1 p:nth-child(2) {
        font-size: 2vh;

    }

    .SliderMenuText1 {
        /* Subtitle / Base */

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 3.7vh;
        line-height: 130%;
        /* or 57px */
        font-family: "Andale Mono", monospace;

        text-align: center;

        color: #010b19;
    }

    .SliderMenuText2 {
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.7vh;
        line-height: 160%;
        /* or 29px */

        text-align: center;
        margin: auto;

        color: #010b19;

        opacity: 0.7;
    }
}
@media(max-width:572px) {
    .Card:hover .Curved {
        margin-top: -95px;
    }

    .Card:hover .CardFooterText1 {
        position: relative;
        margin-top: -70px;
        height: auto;
        line-height: 5px;
        margin-bottom: 10px;
    }

    .Card:hover .CardFooterText1 p:nth-child(1) {
        font-size: 2.5vh;
    }

    .Card:hover .CardFooterText1 p:nth-child(2) {
        font-size: 2vh;

    }
    }

    @media(max-width:500px) {
        .Card:hover .Curved {
            margin-top: -95px;
            }

            .CardFooterText1 {}

            .Card:hover .CardFooterText1 p:nth-child(1) {
                margin-top: -1%;
            }

        .Card:hover .CardFooterText1 p:nth-child(2) {
            margin-top: 3%
        }

        .Card:hover .CardFooterText1 {
            margin-top: 60px;
        }
        }

        @media(max-width:460px) {
            .Card:hover .Curved {
                margin-top: -80px;
            }

            .Card:hover .CardFooterText1 p:nth-child(1) {
                font-size: 2vh;
            }

            .Card:hover .CardFooterText1 p:nth-child(2) {
                font-size: 1.8vh;
                margin-top: 6%;
            }
    }
@media(max-width:400px) {
    .CarosuelMe {
        height: auto;
        padding: 5%;
    }
    .Card:hover .Curved {
        margin-top: -66px;
    }

    .Card:hover .CardFooterText1 {
        line-height: 5px;
    }

    .Card:hover .CardFooterText1 p:nth-child(1) {
        margin-top: 4%;
        font-size: 2vh;
    }

    .Card:hover .CardFooterText1 p:nth-child(2) {
        font-size: 1.7vh;

    }

    .CallMeGroup {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #1CC198;
        justify-content: center;
        align-items: center;
        margin: auto;
        transition: .5s;
        display: none;

    }

    .CallMeGroup i {
        text-align: center;
        margin: auto;
        font-size: 20px;
        color: white;

    }

    .CallMeGroup:hover {
        background-color: #4ed3b2;

    }

    .CallMeGroupIcon {
        text-align: center;
        margin: auto;
        margin-left: 8.5px;
        margin-top: 9.5px;
    }

    .social_icons li a {
        position: relative;
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        line-height: 50px;
        text-align: center;
        background: #184E61;
        color: #FFFFFF;
        font-size: 23px;
        font-weight: bold;
        transform: translateX(-160px);
        margin: 6px 0px;
        transition: .7s;
        opacity: 0;
    }

    .social_icons li a i {
        position: absolute;
        font-size: 13px;
        font-weight: 500;
        margin-top: 7px;
        margin-left: -6px;
    }

    .SliderMenuText1 {
        /* Subtitle / Base */

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 3vh;
        line-height: 130%;
        /* or 57px */
        font-family: "Andale Mono", monospace;

        text-align: center;

        color: #010b19;
    }

    .SliderMenuText2 {
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5vh;
        line-height: 160%;
        /* or 29px */

        text-align: center;
        margin: auto;

        color: #010b19;

        opacity: 0.7;
    }

}
@media(max-width:370px) {
    .Card:hover .Curved {
        margin-top: -64px;
    }
}
@media(max-width:350px) {
    .Card:hover .Curved {
        margin-top: -53px;
    }

    .Card:hover .CardFooterText1 {
        line-height: 0px;
    }

    .Card:hover .CardFooterText1 p:nth-child(1) {
        margin-top: 5%;
        font-size: 1.7vh;
    }

    .Card:hover .CardFooterText1 p:nth-child(2) {
        font-size: 1.4vh;

    }
    .SliderMenuText1 {
        /* Subtitle / Base */

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 2.8vh;
        line-height: 130%;
        /* or 57px */
        font-family: "Andale Mono", monospace;

        text-align: center;

        color: #010b19;
    }

    .SliderMenuText2 {
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2vh;
        line-height: 160%;
        /* or 29px */

        text-align: center;
        margin: auto;

        color: #010b19;

        opacity: 0.7;
    }
}
@media(max-width:335px) {
    .Card:hover .Curved {
        margin-top: -50px;
    }

    .Card:hover .CardFooterText1 p:nth-child(1) {
        margin-top: 8%;
    }
}
@media(max-width:320px) {


        .Card:hover .Curved {
        margin-top: -50px;
    }

    .Card:hover .CardFooterText1 {
        line-height: 0px;
        }

        .Card:hover .CardFooterText1 p:nth-child(1) {
            margin-top: 9%;
            font-size: 1.6vh;
        }

        .Card:hover .CardFooterText1 p:nth-child(2) {
            font-size: 1.4vh;
            border-bottom: 2px;
        }
        }

        @media(max-width:300px) {


            .Card:hover .CardFooterText1 {
                line-height: 0px;
    }

    .Card:hover .CardFooterText1 p:nth-child(1) {
        margin-top: 11%;
        font-size: 1.6vh;
    }

    .Card:hover .CardFooterText1 p:nth-child(2) {
        font-size: 1.4vh;
    }
}