* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.BodyHeader {
  width: 100%;
  height: auto;
}

.HeaderMenu {
  width: 100%;
  height: 702px;
  background: linear-gradient(270deg, #1c467f -9.87%, #184e60 111.47%);
}
.Menu {
  background: linear-gradient(270deg, #1c467f -9.87%, #184e60 111.47%);
}
.NavbarMenu {
  width: 100%;
  height: 106px;
  align-items: flex-end;
  align-content: flex-end;
  box-sizing: border-box;
}

.ScheduleName {
  padding-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  height: 25px;
}

.ScheduleNameIcon {
  display: flex;
  margin-right: 20px;
  color: white;
  font-family: "Andale Mono", monospace;
  margin-top: 3px;
}

.NavbarGroup {
  height: 77px;
}

.ImgBrand {
  margin-top: -20px;
  width: 130px;
  height: 77px;
}

.NavMe {
  width: 60%;
  justify-content: space-between;
  margin-top: auto;
  margin-left: auto;
}

.NavMe p {
  font-family: "Andale Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.9;
  padding-left: 10px;
}

.MenuGroup {
  height: 570px;
  display: flex;
}
#NavbarMe {
  height: 106px;
  ;
}
.Curved {
  position: relative;
  margin-top: -15%;
}
.MenuText {
  width: 50%;
  height: 100%;
  align-content: flex-end;
  text-align: start;
}

.MenuText h4 {
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 3%;
}

.MenuTextNextIcons {
  display: flex;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.TextOnlineBuy {
  width: 80%;
  color: white;
  font-family: "Andale Mono", monospace;
  font-size: 15px;
}

.MenuTextButtons {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.WhatchWriter {
  position: relative;
  width: 35%;
  height: 50px;
  border: 1px solid white;
  border-radius: 7px;
  text-align: center;
  font-size: 18px;
  align-content: center;
  cursor: pointer;
  z-index: 3;
  color: white;
  padding-top: 8px !important;
}

.WhatchWriter:focus {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.WhatchWriter:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  color: white;
}

.CardModalItemMe {
  text-align: center;
  color: white;
}

.WhatchWriter:hover a {
  color: white;
}

.CardBodyCallIcon p {
  cursor: pointer;
}

.CardBodyCallIcon i:nth-child(1) {
  color: #63e6be;
  margin-right: 10px;
}

.CardModalItem {
  opacity: 0.9;
}

.CardFooterExitIcon i {
  font-size: 22px;
  cursor: pointer;
}

.WhatchVideo {
  position: relative;
  display: flex;
  width: 35%;
  height: 50px;
  margin-left: 10%;
  border-radius: 7px;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;
  z-index: 3;
}

.WhatchVideo p:nth-child(1) {
  font-size: 27px;
  margin-left: 10%;
  color: white;
}

.WhatchVideoP2 {
  font-size: 18px;
  margin-left: 3%;
  margin-top: 10px;
  color: white;
  cursor: pointer;
}

.MenuImg {
  width: 40%;
  height: 430px;
  margin-left: 3%;
  object-fit: contain;
  background-image: url(../img/Person.png);
  background-repeat: no-repeat;
  background-size: 91%;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.MenuText {
  height: 460px;
  margin-top: 15px;
}

.MenuText h4 {
  width: 70%;
  font-size: 3vh;
}

.MenuText h1 {
  width: 80%;
  font-size: 4.5vh;
}

.MenuTextNextIcons {
  width: 75%;
  font-size: 2.5vh;
  height: 30px;
  overflow: hidden;
}

.TextOnlineBuy {
  font-size: 2.2vh;
}

.MenuImgRasm {
  width: 90%;
  height: 90%;
}
.CardFooterExitIcon i {
  color: red;
}

.CardBodyCallIcon {
  cursor: pointer;
}
@media (min-width: 1301px) {
  .MenuTextButtons {
    width: 95%;
    margin-top: 9%;
  }

  .WhatchWriter {
    width: 45%;
    cursor: pointer;
  }

  .CardModalItemMe {
    margin-top: 10px;
  }

  .WhatchVideo {
    width: 45%;
    cursor: pointer;
  }
}
@media (min-width: 1000px) and (max-width: 1300px) {
  .ScheduleName {
    justify-content: center;
  }

  .ScheduleNameIcon {
    display: flex;
    color: white;
    margin-left: 10px;
  }
  .MenuTextButtons {
    margin-top: 15%;
    width: 95%;
  }


  .WhatchWriter {
    width: 45%;
  }

  .WhatchVideo {
    width: 45%;
  }
}
.MenuText1 {
  display: none;
}
@media (max-width: 1200px) {
  .NavMe {
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 1050px) {
}
@media (min-width: 756px) and (max-width: 1000px) {
  .ScheduleName {
    margin-bottom: 0;
    padding-top: 5px;
    justify-content: center;
  }

  .HeaderMenu {
    height: 600px;
    overflow: hidden;
  }
  .TextOnlineBuy {
    display: none;
  }

  .Curved {
    margin-top: -34%;
  }

  .MenuTextButtons {
    margin-top: 24%;
  }

  .MenuImg {
    width: 65%;
    background-size: 70%;
    margin: auto;
    margin-top: 1px;

    overflow: hidden;
  }
  .ImgBrand {
    margin-top: 0px;
  }
  .NavbarMenuMedia {
    color: white;
  }
  .NavMe {
    border-radius: 4px;
    background-color: #010b19dc;
    color: white;
    text-shadow: 0px 0px 30px white;
    justify-content: center;
    text-align: center;
    position: absolute;
    z-index: 3;
    width: 100%;
    margin: auto;
  }
  .WhatchWriter a {
    margin-top: 3%;
  }

  .Menu {
    height: 480px;
  }

  .WhatchVideo p:nth-child(2) {
    color: white;
    font-size: 20px;
  }

  .NavMe p {
    justify-content: center;
    text-align: center;
  }

  .MenuText1 {
    display: block;
    margin-top: 4%;
  }

  .MenuText {
    width: 100%;
    display: none;
  }

  .MenuImg {
    width: 100%;
  }
  .MenuTextButtons {
    margin-top: 15%;
  }
}
.NavMe p:hover {
  scale: 1.05;
}

@media (max-width: 767px) {
  .HeaderMenu {
    height: 600px;
    overflow: hidden;
  }
  .MenuGroup {
    height: 450px;
  }

  .MenuImg {
    width: 80%;
    background-size: 90%;
  }

  .ImgBrand {
    width: 115px;
    height: 65px;
  }
  .NavMe {
    border-radius: 4px;
    background-color: #010b19dc;
    color: white;
    justify-content: center;
    position: relative;
    left: -25px;
    text-shadow: 0px 0px 30px white;
    text-align: center;
    z-index: 1;
    width: 115%;
    margin: auto;
  }
  .MenuTextNextIcons {
    margin-top: -2.5%;
  }

  .NavMe p {
    justify-content: center;
    text-align: center;
  }

  .MenuText1 {
    display: block;
    margin-top: 5%;
  }
  .MenuTextH4 {
    font-size: 15px;
  }

  .MenuText1 h1 {
    font-size: 5vh;
  }

  .MenuText {
    width: 100%;
    display: none;
  }
  .MenuImg {
    width: 100%;
  }
  .TextOnlineBuy {
    display: none;
  }
  .ScheduleName {
    font-size: 55%;
    justify-content: center;
  }

  .WhatchVideo {
    border: 1px solid white;
    width: 45%;
    margin: auto;
    border-radius: 10px;
  }

  .WhatchWriter {
    width: 45%;
    margin: auto;
    border-radius: 10px;
  }

  .WhatchVideo:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .MenuTextButtons {
    display: block;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    margin-top: 25%;
    align-content: flex-end;
  }


}

@media (max-width: 500px) {
  .ImgBrand {
    width: 100px;
    height: 55px;
  }

  .MenuText1 h4 {
    font-size: 15px;
  }

  .MenuText1 h1 {
    font-size: 20px;
  }

  .HeaderMenu {
    height: 500px;
    overflow: hidden;
  }

  .MenuGroup {
    height: 380px;
  }

  .ScheduleNameIcon p:nth-child(2) {
    margin-left: 1px;
  }

  .ScheduleNameIcon {
    font-size: 90%;
    margin-right: 5px;
    margin-left: 1px;
  }

  .MenuTextButtons {
    margin-top: 35%;
  }

  .WhatchVideo p:nth-child(1) {
    font-size: 20px;
    margin-left: 7%;
    margin-top: 3px;
    color: white;
  }

  .WhatchWriter {
    width: 38%;
    font-size: 14px;
    padding: 3%;
  }

  .WhatchWriter:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .WhatchVideo {
    width: 38%;
  }
  .WhatchVideo p {
    font-size: 13px;
  }

  .WhatchVideoP2 {
    font-size: 12px;
    margin-left: 0.8%;
    margin-top: 10px;
    color: white;
  }
}
@media(max-width:350px) {
  .CardModalItemMe {
    margin-top: 2%;
    font-size: 12px;
  }

  .WhatchWriter {
    height: auto;
    padding: 3%;
  }
  }
.ScheduleNameIcon p:nth-child(2) {
  margin-left: 10px;
}

  
 
  
  /*-------------- List Menu Group---------------- */
  

  
  .headertext{
    font-family: sharp sans en,sharp sans accents,sharp sans symbols,sharp sans,Arial,sans-serif;
    line-height: calc(1em + 8px);
    color:white;
    font-size: 65px;
    width: 334px;
    margin-top: 100px;
  }
  .form{
      width: 100% !important;
      height: 500px !important;
      background-color:#1C487A;
      margin-bottom: 0px;
  }
.aloqa{
    text-align: center;
    margin-top: 50px !important;
}
.aloqa h1{
    font-size: 25px;
    color:#1C487A;
    display: inline-block;
    position: relative;
}
.aloqa h1::after{
    content: '';
    position: absolute;
    top:140%;
    left:-10%;
    width: 120%;
    height: 3px;
    background-color:#1C487A
}
.aloqacard{
    margin:15px;
    margin-top: 80px;
    display: flex;
    align-items:center;
    flex-direction: column;
    width: 17%;
}
.aloqacard div{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    background: #1C487A;
    box-shadow:  0px 0px 60px #c5dbf3,
                 0px 0px 60px #ffffff;
                 margin-bottom: 20px;
}
@media(max-width:410px) {
  #NavbarMe {
    height: 90px;
  }
}
@media screen and (min-width:400px) {
  .HeaderMenu{
    height: max-content !important;
  }
  .headerImg{
  width: 100%;
  }
  .map{
   margin-bottom: 20px;
  }
  .headertext{
    font-size: 45px !important;
    text-align: left !important;
    width: 360px !important;
  }
  .form{
    height: max-content !important;
    margin-bottom: 0px;

  }
  .form img{
    width: 90%;
  }
  .formInput{
    margin-left: 0 !important;
  }
  .btnForm{
    position: absolute;
    top: 0;
    left: 4% !important;
  }
  .aloqa{
    margin-top: 40px !important;
  }
  .aloqacard{
    width: 35% !important;
  }
  .mapY{
    width: 90% !important;
    margin-left: 5%;
  }
  
}
@media screen and (max-width:566px) {
  .HeaderMenu{
    height: max-content !important;
  }
  .headerImg{
  width: 100%;
  }
  .map{
   margin-bottom: 20px;
  }
  .headertext{
    font-size: 45px !important;
    text-align: left !important;
    width: 360px !important;
  }
  .form{
    height: max-content !important;
    margin-bottom: 0px;

  }
  .form img{
    width: 90%;
  }
  .formInput{
    margin-left: 0 !important;
  }
  .btnForm{
    position: absolute;
    top: 0;
    left: 40%;
  }
  .aloqacard{
    width: 35% !important;
  }
  .aloqa{
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
}
@media screen and (min-width:567px) {
  .HeaderMenu{
    height: max-content !important;
  }
  .headerImg{
  width: 100%;
  }
  .map{
   margin-bottom: 20px;
  }
  .headertext{
    font-size: 45px !important;
    text-align: left !important;
    width: 360px !important;
  }
  .form{
    height: max-content !important;
    margin-bottom: 0px;

  }
  .form img{
    width: 90%;
  }
  .formInput{
    margin-left: 170px !important;
  }
  .btnForm{
    position: absolute;
    top: 0;
    left: 0%;
  }
  .aloqacard{
    width: 35% !important;
  }
  .aloqa{
    margin-top: 40px;
    margin-bottom: 20px;
  }

}
@media screen and (min-width:767px) {
  .HeaderMenu{
    height: max-content !important;
  }
  .headerImg{
  width: 100%;
  }
  .map{
   margin-bottom: 20px;
  }
  .headertext{
    font-size: 45px !important;
    text-align: left !important;
    width: 360px !important;
  }
  .form{
    height: max-content !important;
    margin-bottom: 0px;

  }
  .form img{
    width: 90%;
  }
  .formInput{
    margin-left: 230px !important;
  }
  .btnForm{
    position: absolute;
    top: 0;
    left: 20%;
  }
  .mapImg{
    width: 80% !important;
    margin-left: 10%;
  }
  .aloqacard{
    width: 25% !important;
  }
  .aloqa{
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width:992px) {
  .HeaderMenu{
    height: 100vh !important;
  }
  .headerImg{
  width: 120%;
  margin-left: -70px;
  }
  .headertext{
    font-size: 55px !important;
    text-align: left !important;
    width: 360px !important;
  }
  .map{
   margin-bottom: 20px;
  }
  .headertext{
    font-family: sharp sans en,sharp sans accents,sharp sans symbols,sharp sans,Arial,sans-serif;
    line-height: calc(1em + 8px);
    color:white;
    font-size: 65px;
    width: 334px;
    margin-top: 100px;
  }
  .form{
    width: 100% !important;
    height: 510px !important;
   position: relative !important;
 background-color:#1C487A;
 margin-bottom: 0px;




}
.wave{
  width: 157% !important;
}
  .form img{
    width: 100%;
  }
  .formInput{
    margin-left: 170px !important;
  }
  .btnForm{
    position: absolute;
    top: 0;
    left: 0%;
  }
  .rightForm{
    margin-top: 100px;
  }
  .mapImg{
    width: 100% !important;
    margin-left: 0%;
  }
  .aloqa{
    margin-top: 50px !important;
    margin-bottom: 20px;
  }
  .aloqacard{
    width: 17% !important;
  }
}