.Events {
  padding-top: 10px;
}
.Events .EventsMenuText1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 6vh;
  line-height: 130%;
  font-family: "Andale Mono", monospace;
  text-align: center;
  color: #010b19;
}

.EventsMenuText2 {
  width: 80%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vh;
  line-height: 160%;
  text-align: center;
  margin: auto;
  color: #010b19;
  opacity: 0.7;
}

.EventsMenuItem {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.EventsMenuItemImg,
.EventsMenuItemText {
  margin: 0 auto;
  width: 48%;
  height: 100%;
}

.EventsMenuItemImg {
  overflow: hidden;
}
.EventsMenuItemText ul li {
  list-style-type: none;
  cursor: pointer;
  display: flex;
  margin-top: 8px;
  }

  .EventsMenuItemText {
    overflow: hidden;
  }

  .EventsMenuItemText ul li i:nth-child(2) {
    display: none;
  }

  .EventsMenuItemText ul li:hover i:nth-child(2) {
    margin-right: 15px;
    display: block;
    margin-top: 1%;
    font-size: 19px;
    color: #2B9B2B;
    transition: .3s;
  }



  .EventsMenuItemText ul li:hover i:nth-child(1) {
    display: none;
  }

  .EventsMenuItemText ul li i:nth-child(1) {
    margin-top: 1.5%;
  }

  .EventsMenuItemText ul {
    height: 100%;

}

.EventsMenuItemText ul li i:nth-child(1) {
  color: #ffc451;
  margin-right: 20px;
  font-size: 2vh;
}

.EventsMenuItemText ul li i:nth-child(3) {
  font-size: 2.5vh;
}
@media(min-width:1700px) {

.EventsMenuItemText ul li i:nth-child(1) {
  font-size: 1.9vh;
}

.EventsMenuItemText ul li i:nth-child(3) {
  font-size: 1.7vh;
}
}
@media (max-width: 992px) {
  .EventsMenuItem {
    display: flex;
    flex-wrap: wrap;
  }

  .EventsMenuItemImg {
    width: 100%;
    border-radius: 20px;
    display: none;
  }

  .EventsMenuItemImg img {
    display: none;
  }

  .EventsMenuItemText {
    width: 100%;
    z-index: 3;
    justify-content: center;
  }
  .EventsMenuItemText ul {
    margin: auto;
    margin-left: 2%;
    }

    .EventsMenuItemText ul li {
      margin-top: 5px;
    }

    .EventsMenuItemText ul li i:nth-child(1) {
      font-size: 15px;
    }

    .EventsMenuItemText ul li i:nth-child(3) {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      color: #010b19;
    margin-top: 1%;
  }
  .Events .EventsMenuText1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 5vh;
    line-height: 130%;
    font-family: "Andale Mono", monospace;
    text-align: center;
    color: #010b19;
  }

  .EventsMenuText2 {
    width: 90%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vh;
    line-height: 160%;
    text-align: center;
    margin: auto;
    color: #010b19;
    opacity: 0.7;
  }

}

@media (max-width: 767px) {
  .EventsMenuItem {
    display: flex;
    flex-wrap: wrap;
  }
  .EventsMenuText1 {
    /* Subtitle / Base */

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    font-size: 5vh;
    /* or 57px */
    font-family: "Andale Mono",
    monospace;
    text-align: center;
    color: #010b19;
    }

    .EventsMenuText2 {
      width: 95%;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 2vh;
      line-height: 160%;
      /* or 29px */

      text-align: center;
      margin: auto;

      color: #010b19;

      opacity: 0.7;
    }
  .EventsMenuItemImg {
    width: 100%;
    border-radius: 20px;
    display: none;
  }
  .EventsMenuItemText ul {
    margin: auto;
    margin-left: 2%;
  }

  .EventsMenuItemText ul li {
    margin-top: 5px;
    margin-left: -6%;
  }

  .EventsMenuItemText ul li i:nth-child(1) {
    font-size: 15px;
  }

  .EventsMenuItemText ul li i:nth-child(3) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #010b19;
    margin-top: 1%;
  }



  .EventsMenuItemImg img {
    display: none;
  }

  .EventsMenuItemText {
    width: 100%;
    z-index: 3;
    align-content: space-around;
  }
}

@media(max-width:549px) {
 
  .EventsMenuText1 {
    /* Subtitle / Base */

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 4vh;
    line-height: 130%;
    /* or 57px */
    font-family: "Andale Mono", monospace;
    text-align: center;
    color: #010b19;
  }

  .EventsMenuText2 {
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 2vh;
    line-height: 160%;
    /* or 29px */

    text-align: center;
    margin: auto;
    color: #010b19;
    opacity: 0.7;
    }

    .EventsMenuItemText ul {
      margin: auto;
      margin-left: 2%;
    }

    .EventsMenuItemText ul li {
      margin-top: 5px;
      margin-left: -6%;
    }

    .EventsMenuItemText ul li i:nth-child(1) {
      font-size: 2.5vh;
    }

    .EventsMenuItemText ul li i:nth-child(3) {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 2.5vh;
      color: #010b19;
      margin-top: 1%;
    }

    }

    @media(max-width:440px) {
      .EventsMenuItem {
        height: 490px
      }

      .EventsMenuItemText ul {
        margin: auto;
        margin-left: 2%;
      }

      .EventsMenuItemText ul li {
        margin-top: 5px;
        margin-left: -6%;
      }

      .EventsMenuItemText ul li i:nth-child(1) {
        font-size: 2.2vh;
      }

      .EventsMenuItemText ul li i:nth-child(3) {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 2.2vh;
        color: #010b19;
        margin-top: 1%;
      }
      .EventsMenuText1 {
        /* Subtitle / Base */
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        /* or 57px */
        font-family: "Andale Mono",
          monospace;
        text-align: center;
        color: #010b19;
      }

      .EventsMenuText2 {
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5vh;
        line-height: 160%;
        /* or 29px */

        text-align: center;
        margin: auto;
        color: #010b19;
        opacity: 0.7;
        }
        }

@media(min-width:401px) and (max-width:430px) {


  .EventsMenuText1 {
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 130%;
    font-family: "Andale Mono",
      monospace;
    text-align: center;

    color: #010b19;
  }
}

    @media(max-width:390px) {
      .EventsMenuItem {
        height: 400px;
      }

      .EventsMenuItemText ul {
        margin: auto;

      }

      .EventsMenuItemText ul li {
        margin-top: 5px;
        margin-left: -9%;
      }

      .EventsMenuItemText ul li i:nth-child(1) {
        font-size: 10px;
      }

      .EventsMenuItemText ul li i:nth-child(3) {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        color: #010b19;
        margin-top: 1%;
        }
}
@media(max-width:322px) {
  .EventsMenuItemText ul li {
    margin-top: 5px;
    margin-left: -9%;
  }

  .EventsMenuItemText ul li i:nth-child(3) {
    font-size: 1.7vh;
  }



}