
*{
  margin: 0;
  padding: 0;
}

.FooterMenu {
  padding-top: 20px;
  width: 100%;
  height: 400px;
  background-color: #010b19;
  border: 1px solid black;
}

.FooterMenu hr {
  border: 1px dashed #4d545e;
  border-bottom: none;
  border-right: none;
  border-left: none;
  margin-top: 4%;
}

.FooterMenuMe {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.FooterMenuGroup1 {
  width: 40%;
  height: 240px;
  text-align: start;
  align-content: space-between;
  color: white;
}

.FooterMenuGroup1 p {
  font-family: "Andale Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  margin-top: 20px;

  color: #ffffff;

  opacity: 0.85;
  cursor: pointer;
}

.FooterMenuGroup1 p i {
  margin-right: 10px;
}

.FooterMenuGroup2 {
  width: 20%;
  height: 240px;
  text-align: start;
}

.FooterMenuGroup2 p b {
  font-family: "Andale Mono", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #ffffff;
}

.FooterMenuGroup2 p a {
  font-family: "Andale Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.85;
}
.FooterMenuGroup2 p:hover a {
  color: #6e6d6c;
}

.FooterMenuGroup3 p:hover a {
  color: #6e6d6c;
}

.FooterMenuGroup4 p:hover a {
  color: #6e6d6c;
}

.FooterMenuGroup4 p p:hover .IconsFooter {
  color: #6e6d6c;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.FooterMenuGroup3 p b {
  font-family: "Andale Mono", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #ffffff;
}

.FooterMenuGroup3 p a {
  font-family: "Andale Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.85;
}

.FooterMenuGroup4 p b {
  font-family: "Andale Mono", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #ffffff;
}

.FooterMenuGroup4 p a {
  font-family: "Andale Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.85;
}

.FooterMenuGroup4 p {
  padding: 5px;
}

.IconsFooterGroup {
  justify-content: space-between;
  display: flex;
}

.FooterMenuGroup4 p p {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #4d545e;
  text-align: center;
  cursor: pointer;
}

.FooterMenuGroup3 {
  width: 20%;
  height: 240px;
  text-align: start;
}

.FooterMenuGroup4 {
  width: 20%;
  height: 240px;
  text-align: start;
}

.IconsFooter {
  color: white;
  text-align: center;
}

.Copyright {
  font-family: "Andale Mono", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  margin-top: 2%;
  text-align: center;
}
@media(min-width:1700px){
  #FooterBrand{
    width: 220px;
    height: 130px;
  }
  .FooterMenu{
    height: 650px;
  }
  .FooterMenuMe{
    margin-top: 3%;
    height: auto;
  }
  .FooterMenuGroup1{
    height: 400px;
  }
  .FooterMenuGroup1 p {
    font-size: 2vh;
  }
  .FooterMenuGroup2{
    height: auto;
  }
  .FooterMenuGroup2 p b{
    font-size: 3vh;
  }
  .FooterMenuGroup2 p a{
    font-size: 2vh;
  }
  .FooterMenuGroup3{
    height: auto;
  }
  .FooterMenuGroup3 p b{
    font-size: 3vh;
  }
  .FooterMenuGroup3 p a{
    font-size: 2vh;
  }
  .FooterMenuGroup4{
    height: auto;
  }
  .FooterMenuGroup4 p b{
    font-size: 3vh;
  }
  .FooterMenuGroup4 p a{
    font-size: 2vh;
  }
  .FooterMenuGroup4 p p {
    width: 24%;
    height: 24%;
    border-radius: 50%;
    border: 1px solid #4d545e;
    text-align: center;
    cursor: pointer;
  }
  .IconsFooter{
    font-size: 3vh;
  }
  .FooterMenu hr{
    border: 2px dashed #95a0af ;
  }
  .Copyright{
    font-size: 3vh;
  }
}
@media (min-width: 1024px) and (max-width: 1300px) {
  .FooterMenuGroup1 p {
    margin-top: -1%;
  }

  .FooterMenuMe {
    margin-top: 2%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .FooterMenuGroup1 p {
    margin-top: -1%;
  }

  .FooterMenuMe {
    margin-top: 2%;
  }
}

@media (min-width: 550px) and (max-width: 767px) {
  .FooterMenuGroup1 {
    width: 50%;
    height: auto;
    }

    #FooterBrand {
      font-size: 20px;
    }

    .FooterMenuGroup1 p {
      font-size: 12px;
      margin-top: 1px;
    }

    .FooterMenuGroup2 {
      width: 50%;
      height: auto;
      text-align: center;

      }

      .FooterMenuGroup2 p {}

      .FooterMenuGroup2 {
        width: 50%;
        height: auto;
    text-align: center;
  }

  .FooterMenuGroup3 {
    width: 50%;
    height: 200px;

    margin: auto;
  }

  .FooterMenuGroup4 {
    width: 50%;
    height: 200px;
    margin: auto;
    text-align: center;
    }

.FooterMenuGroup4 p {
  margin-top: -8px;
}

  .FooterMenuMe {
    flex-wrap: wrap;
  }
.IconsFooterGroup {
  height: auto;

}

.IconsFooterGroup p {
  margin-top: 2px;
}
  .FooterMenu {
    height: auto;
  }
  .Copyright {
    font-size: 2vh;
  }
}

@media (max-width: 549px) {
  .FooterMenuGroup1 {
    width: 50%;
    height: auto;
    text-align: start;
    }

    .FooterMenuGroup1 p {
      font-size: 10px;
      text-align: start;
      margin-top: 1px;


    }

    #FooterBrand {
      width: 100px;
      height: 50px;
    }

  .FooterMenuGroup2 {
    width: 50%;
    height: 195px;
    text-align: start;
    }

    .FooterMenuGroup2 p a {
      text-align: start;

    }

    .FooterMenuGroup2 p a {
      font-size: 13px;

    }

    .FooterMenuGroup2 p a {
      font-size: 13px;
      text-align: start;

  }

  .FooterMenuGroup3 {
    width: 50%;
    text-align: start;
    margin-top: 20px;
    height: 170px;

    }

    .FooterMenuGroup3 p a {
      font-size: 13px;

  }

  .FooterMenuGroup4 {
    width: 50%;
    text-align: start;
    margin-top: 20px;
    height: 170px;

    }

    .FooterMenuGroup4 p {
      margin-top: -7px;


    }

    .FooterMenuGroup4 p a {
      font-size: 13px;

  }

  .FooterMenuMe {
    flex-wrap: wrap;
  }

  .FooterMenu {
    height: auto;
  }
  .IconsFooterGroup {
    justify-content: space-around;
  }
  .Copyright {
    font-size: 11px;
  }

  .FooterMenuGroup4 p p {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #4d545e;
    text-align: center;
    cursor: pointer;
  }

  .IconsFooter {
    position: absolute;
    margin-left: -7px;
    margin-top: 1px;
  }
}
