* {
    margin: 0;
    padding: 0;
}

.ServiceOne {
    display: none;
}

.ServiceTwo {
    display: none;
}

.ServiceThree {
    display: none;
}

.ServiceOne {
    width: 100%;
}



@media(min-width:1024px) {
    .ServiceOne {
        display: block;
    }

    .ServiceTwo {
        display: none;
    }

    .ServiceThree {
        display: none;
    }
}



@media(max-width:767px) {
    .ServiceOne {
        display: none;
    }

    .ServiceTwo {
        display: none;
    }

    .ServiceThree {
        display: block;
    }
}





.Service {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 5%;

}

.ServiceMenu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3%;
    overflow: hidden;

}



.ServiceMenuCard {
width: 300px;
height: 180px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    align-content: center center;
    background: #184e61;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-top: 1%;
    overflow: visible;
    overflow: hidden;
    transition: transform .5s;

}

.ServiceMenuCard:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);

}

.CardIcons {
    width: 30%;
    height: 80%;
    font-size: 30px;
    margin-top: 5%;
}

.CardIcons i {
    font-size: 7vh;
    margin-top: 5px;
    color: white;
}

.CardText {
    width: 60%;
    height: 80%;
    margin-top: 5%;
    text-align: start;
}

.CardTextBold {
    font-style: normal;
    font-weight: 600;
    font-size: 3vh;
    line-height: 150%;
    /* identical to box height, or 33px */

    /* White */

    color: #ffffff;
}

.CardTextSmall {
    font-family: "Andale Mono", monospace;
    font-style: normal;
    font-size: 2.3vh;
    line-height: 150%;
    margin-top: -10px;
    /* identical to box height, or 33px */

    /* White */

    color: #ffffff;
}

.ServiceMenuText {
    margin-top: 1px;
}

.ServiceMenuText1 {
  /* Subtitle / Base */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 6vh;
  line-height: 130%;
  /* or 57px */
  font-family: "Andale Mono",
  monospace;

  text-align: center;

  color: #010b19;
}

.ServiceMenuText2 {
    width: 80%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vh;
    line-height: 160%;
    /* or 29px */

    text-align: center;
    margin: auto;

    color: #010b19;

    opacity: 0.7;
}
@media(min-width:1700px) {

    .Service {
        margin-top: 3%;
        margin-bottom: 3%;
        height: 1000px;
        overflow: hidden;
    }
 .CardText {
     line-height: 10px;
 }



 .CardIcons {
     width: 25%;
     margin-top: 2%;
 }

    .CardText {
        width: 70%;
        height: 90%;
        margin-top: 2%;
        overflow: hidden;
    }
    .ServiceMe {
        padding: 20px;
        margin-bottom: 20px;
    }

    .ServiceMenuText1 {
        margin-top: -8%;
    }

    .ServiceMenuText2 {
        width: 100%;
        margin-top: -5px;
    }

    .ServiceMenu {
        margin-top: 10px;
    }

    .ServiceMenuCard {
        width: 350px;
        height: 210px;
        }
.CardIcons i {
    font-size: 5vh;
}
    .CardTextBold {
        font-size: 2.3vh;
    }

    .CardTextSmall {
        position: relative;
        margin-top: -10%;
        font-size: 1.7vh;
    }


    }

    @media(min-width:1500px) and (max-width:1699px) {
        .ServiceMenu {
            margin-top: 10px;
        }

        .ServiceMenuCard {
            width: 350px;
            height: 210px;
        }

        .CardIcons i {
            font-size: 5vh;
        }

        .CardTextBold {
            font-size: 2.3vh;
        }

        .CardTextSmall {
            position: relative;
            margin-top: -10%;
            font-size: 1.7vh;
        }
    }
@media(min-width:1251px) and (max-width:1400px) {
    .Service {
        height: auto;
        padding: 5%;
    }

    .ServiceMe {
        overflow: hidden;
    }

    .ServiceMenu {
        height: 500px;
        margin-top: 3%;
overflow: hidden;

    }

    .ServiceMenuCard {
        width: 310px;
        height: 165;
        margin-top: 2%;
        padding: 1px 1px;

    }

    .CardTextBold {
        font-size: 21px;
    }

    .CardTextSmall {
        font-size: 16px;
    }

    .CardText {
        height: 90%;
    }

    .CardIcons i {
        font-size: 40px;
    }
    }
@media(min-width:1000px) {
    .ServiceMenuText {
        margin-top: 8%;

    }


    }
    @media(min-width:1024px) and (max-width:1250px) {
        .Service {
            height: auto;
        }
    .ServiceMenu {
        height: 500px;
        margin-top: 3%;
       overflow: hidden;
        justify-content: space-around;

    }

    .ServiceMenuCard {
        width: 330px;
        height: 165;

    }

    .CardTextBold {
        font-size: 21px;
    }

    .CardTextSmall {
        font-size: 16px;
    }

    .CardText {
        height: 90%;
    }

    .CardIcons i {
        font-size: 40px;
    }
}

@media(min-width:768px) and (max-width:1023px) {
    .Service {
        height: auto;
    }

    .ServiceMenu {
        height: 410px;
        margin-bottom: 5%;
        overflow: visible;
        overflow-y: scroll;

    }


    .ServiceMenuCard {
        width: 300px;
        height: 165;

    }

    .CardTextBold {
        font-size: 21px;
    }

    .CardTextSmall {
        font-size: 16px;
    }

    .CardText {
        height: 90%;
    }

    .CardIcons i {
        font-size: 40px;
    }
    .ServiceMenuText2 {
        width: 100%;
    }

    .ServiceMenu {
        margin-top: 3%;
    }
}

@media(max-width:767px) {
    .Service {
        height: auto;
    }

    .ServiceMenu {
        height: 400px;
        width: 80%;
        margin:auto;
        justify-content: center;
        overflow: visible;
        overflow-y: scroll;
        margin-top: 3%;


    }

    .ServiceMenuCard {
        width: 320px;
        height: 165;
        margin: auto;
        margin-top: 1%;

    }

    .ServiceMenuText1 {
        /* Subtitle / Base */

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        font-size: 5vh;
        font-family: "Andale Mono",
        monospace;
        text-align: center;
        color: #010b19;
    }

    .ServiceMenuText2 {
        width: 95%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 2vh;
        line-height: 160%;
        /* or 29px */

        text-align: center;
        margin: auto;

        color: #010b19;

        opacity: 0.7;
    }
    .CardTextBold {
        font-size: 21px;
    }

    .CardTextSmall {
        font-size: 16px;
    }

    .CardText {
        height: 90%;
    }

    .CardIcons i {
        font-size: 40px;
    }
}
@media(max-width:500px) {
    .Service {
        height: auto;
    }

    .ServiceMe {}

    .ServiceMenu {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .ServiceMenuText {
        margin-top: 1%;
    }

    .ServiceMenuText1 {
        /* Subtitle / Base */

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 4vh;
        line-height: 130%;
        font-family: "Andale Mono",
        monospace;
        text-align: center;
        color: #010b19;
    }

    .ServiceMenuText2 {
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 2vh;
        line-height: 120%;
        text-align: center;
        margin: auto;
        color: #010b19;
        opacity: 0.7;
    }
}

@media(max-width:420px) {
    .Service {
        height: auto;
}

.ServiceMenuCard {
    height: 150px;
}

    .ServiceMenuText {
        margin-top: 5%;
    }

    .ServiceMenuText1 {
        /* Subtitle / Base */
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        /* or 57px */
        font-family: "Andale Mono", monospace;

        text-align: center;

        color: #010b19;
    }

    .ServiceMenuText2 {
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5vh;
        line-height: 160%;
        margin-top: -10px;
        /* or 29px */

        text-align: center;
        margin: auto;

        color: #010b19;

        opacity: 0.7;
    }
    .CardIcons {
        width: 25%;
    }

    .CardText {
        width: 70%;
        overflow: hidden;
    }

    .CardTextBold {
        font-size: 15px;
    }

    .CardTextSmall {
        font-size: 13px;
    }
    }

    @media(max-width:322px) {
        .ServiceMenuCard {
            width: 260px;
            height: 150px;
        }

        .CardIcons {
            width: 20%;
            margin-left: 1px;
        }

        .CardIcons i {
            font-size: 30px;
        }

        .CardText {
            overflow: hidden;
        }

        .CardTextBold {
            font-size: 2.8vh;
        }

        .CardTextSmall {
            font-size: 11px;
        }
}
#ButtonGroupId {
    width: 130px;
    text-align: center;
    background-color: #5189C6;
    color: white;
    opacity: .9;

    font-family: 'Andale Mono',
        monospace;
}

#ButtonGroupId:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #649cd8;

}