* {
    margin: 0;
    padding: 0;
}



body {
    display: block;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    position: relative;
    background: white;
}
.SliderMenu {
    width: 100%;
    height: 650px;
    border: 1px solid green;
    overflow: hidden;

}

.SliderMenuItem {
    margin-top: 2%;

}

.SliderMenuText {
    margin-top: 1%;
}

.SliderMenuText1 {
    /* Subtitle / Base */

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 6vh;
    line-height: 130%;
    /* or 57px */
    font-family: "Andale Mono", monospace;

    text-align: center;

    color: #010b19;
}

.SliderMenuText2 {
    width: 80%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vh;
    line-height: 160%;
    /* or 29px */

    text-align: center;
    margin: auto;

    color: #010b19;

    opacity: 0.7;
}
.slider_title {
    font-size: 5vh;
    color: tomato;
    text-align: center;
    margin-bottom: 2vh;
    text-transform: uppercase;
}

.card_wrapper {
    position: relative;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.card_wrapper:active,
.card_wrapper:hover,
.card_wrapper:focus {
    outline: none;
    border: none;
}

.Card {
    width: 100%;
    height: 400px;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.card_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: .5s;
}

#CardBody {
    position: relative;
    width: 90%;
    height: 45px;
    border: 1px solid green;
    z-index: 3;
    margin: auto;
    color: white;
    align-content: flex-end;
    justify-content: center;
    margin-top: 71%;
    line-height: 10px;
    border-radius: 10px;
    transform: translateY(350px);


}
.Card:hover #CardBody {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    border: 1px solid black;
    transition: .7s;

}
#CardBody p:nth-child(1) {
    font-size: 20px;
    text-align: center;
    font-family: 'Andale Mono', monospace;
    font-style: normal;
    font-weight: normal;
}

#CardBody p:nth-child(2) {
    font-size: 15px;
    font-family: 'Andale Mono', monospace;


}

.card_image {
    width: 50%;
    height: 100%;
    object-fit: contain;
    background-image: url(../img/slider2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.social_icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 3;
}

.social_icons li {
    list-style-type: none;
}

.social_icons li a {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    background: #184E61;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: bold;
    margin: 6px 0px;
    transform: translateX(-200px);
    transition: .7s;
    opacity: 0;
}
.social_icons li a i {
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: -8px;
}


.Card .social_icons li {
    transform: translateY(-240px);
    opacity: 1;


}

.Card:hover .social_icons li a {
    transform: translateX(-160px);
    opacity: 1;
}

.Curved1 {
    width: 100%;
    height: 100%;
    align-content: flex-end;
    border: 1px solid green;
}

    .Curved {
        border: 1px solid red;
}

    .Card:hover .Curved {
        position: relative;
    z-index: 3;
    border: 1px solid red;
    transition: .7s;

    }

#CallMeGroup {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
    display: block;
    transform: translateY(200px);
    justify-content: center;
    align-items: center;
    margin: auto;

    }

    #CallMeGroup i {
        text-align: center;
        margin: auto;
        font-size: 20px;
        color: white;
    }

    #CallMeGroupIcon {
        text-align: center;
        margin: auto;
        margin-left: 13.5px;
        margin-top: 15.5px;
    }

    #CallMeGroup:hover {
        background-color: #4dd6b4;
    }

    #CallMeGroup:hover #CallMeGroupIcon {
        transform: rotate(360deg);
    }

    .Card:hover #CallMeGroup i {
        width: 100%;
        height: 100%;
        margin-bottom: 0;
        border: 1px solid black;

    }

    .social_icons li a:hover i {
        transform: rotate(360deg);
        opacity: .8;
}

.social_icons li:nth-child(2) a:hover i {
    transform: rotate(360deg);

    color: #ffffff;
}

.social_icons li:nth-child(3) a:hover i {
    transform: rotate(360deg);
    color: #ffffff;

}

.social_icons li:nth-child(4) a:hover i {
    transform: rotate(360deg);
    color: #ffffff;
}




.Card:hover li:nth-child(1) a {
    transition-delay: .1s;
}

.Card:hover li:nth-child(2) a {
    transition-delay: .2s;
}

.Card:hover li:nth-child(3) a {
    transition-delay: .3s;
}

.Card:hover li:nth-child(4) a {
    transition-delay: .4s;
}

#details {
    position: absolute;
    bottom: 400px;
    left: 0px;
    background: #fff;
    width: 100%;
    height: 120px;
    z-index: 1;
    padding: 10px;
    transition: .6s;
    border: .5px solid #A09B94;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

#details h5 {
    margin: 15px 10px;
    padding: 0px;
    font-family: system-ui;
    font-size: 18px;
    display: flex;
    justify-content: space-between;

}

#details h5 a {
    display: flex;
}

#details h5 a p:nth-child(1) {
    color: black;


}

#details h5 a p:nth-child(2) {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #575757;
}

#details h5 a:hover p:nth-child(2) {
    color: #A09B94;
    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);

}


.AddressPlace {
    width: 20%;
    color: #000000;
    margin-top: 1%;
}

.JobTitle {
    width: 80%;
    font-size: 15px;
    line-height: 2;
    color: #0C0C0C;
    font-weight: 400;
    display: block;
}

.JobTitle:hover {
    color: #6C6C6C;
}

.Card:hover #details {
    bottom: 0;
}

.carousel .slick-prev,
.slick-next {
    width: 50%;
    height: 50px;
    background-color: white;
}

.carousel .slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: white;
    outline: none;
    background: #fff;

}

.carousel .slick-prev::before,
.slick-next::before {
    color: #000000;
    font-family: sans-serif;
}

.carousel .slick-next {
    right: -55px;

}

.carousel .slick-prev {
    left: -55px;
}
.SliderContainer {
    display: block;
}

.SliderContainer1 {
    display: none;
}

.SliderContainer2 {
    display: none;
}

@media(min-width:1250px) and (max-width:1400px) {
    .Card {
        width: 100%;
        height: 400px;
        border-radius: 16px;
        cursor: pointer;
    }

    #CardBody {
        position: relative;
        margin-top: 30%;

    }

    .SliderMenu {
        height: 470px;
        }

        .Card:hover .Curved {
            position: absolute;
            transform: translateY(10px);
            margin-top: 43%;
            transition: .6s;
            z-index: 3;

        }

        #CallMeGroup {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color:brown;
            display: block;
            transform: translateY(200px);
            justify-content: center;
            align-items: center;
            margin: auto;

        }

        #CallMeGroup i {
            text-align: center;
            margin: auto;
            font-size: 20px;
            color: white;
        }

        #CallMeGroupIcon {
            text-align: center;
            margin: auto;
            margin-left: 13.5px;
            margin-top: 15.5px;
        }

        #CallMeGroup:hover {
            background-color: #4dd6b4;
        }

        .social_icons li a {
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }

        .social_icons li a i {
            position: absolute;
            font-size: 14px;
            font-weight: 400;
            margin-top: 6px;
            margin-left: -7px;
        }

        .Card:hover .social_icons li a {
            transform: translateX(-150px);
            opacity: 1;

        }

        .Card .social_icons li {
            transform: translateY(-170px);
            opacity: 1;

        }

        .Card:hover .social_icons li a {
            transform: translateX(-170px);
            opacity: 1;

        }

        #CallMeGroup {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transform: translateY(200px);

        }

        #CallMeGroup i {
            text-align: center;
            margin: auto;
            font-size: 17px;
            color: white;
        }

        #CallMeGroupIcon {
            text-align: center;
            margin: auto;
            margin-left: 10.5px;
            margin-top: 12.5px;
        }

        .Card:hover #CallMeGroup {
            position: absolute;
            transform: translateX(150px);
            margin-top: 28%;
            transition: .6s;
            z-index: 3;

        }

        .Card:hover #CardBody {
            transform: translateY(80px);
            transition: .7s;

        }

        #CardBody p:nth-child(1) {
            font-size: 18px;
            text-align: center;
            font-family: 'Andale Mono', monospace;
            font-style: normal;
            font-weight: normal;
        }

        #CardBody p:nth-child(2) {
            text-align: center;
            font-size: 2.5vh;
            font-family: 'Andale Mono', monospace;

        }
        }

        @media(min-width:1024px) and (max-width:1249px) {
    #CardBody {
        position: relative;
        margin-top: 48%;
        height: 80px;
    }

    .SliderMenu {
        height: 470px;
    }

    .SliderMenuItem {
        margin-top: 5%;
    }

    #CardBody p:nth-child(1) {
        font-size: 18px;
        font-family: 'Andale Mono', monospace;
        font-style: normal;
        font-weight: normal;
    }

    #CardBody p:nth-child(2) {
        font-size: 14px;
        font-family: 'Andale Mono', monospace;


    }
    .Card:hover .Curved {
        position: absolute;
        transform: translateY(10px);
        margin-top: 43%;
        transition: .6s;
        z-index: 3;

    }

    #CallMeGroup {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: red;
        display: block;
        transform: translateY(200px);
        justify-content: center;
        align-items: center;
        margin: auto;

    }

    #CallMeGroup i {
        text-align: center;
        margin: auto;
        font-size: 20px;
        color: white;
    }

    #CallMeGroupIcon {
        text-align: center;
        margin: auto;
        margin-left: 13.5px;
        margin-top: 15.5px;
    }

    #CallMeGroup:hover {
        background-color: #4dd6b4;
    }

    .social_icons li a {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    .social_icons li a i {
        position: absolute;
        font-size: 14px;
        font-weight: 400;
        margin-top: 6px;
        margin-left: -7px;
    }

    .Card:hover .social_icons li a {
        transform: translateX(-150px);
        opacity: 1;

    }

    .Card .social_icons li {
        transform: translateY(-170px);
        opacity: 1;

    }

    .Card:hover .social_icons li a {
        transform: translateX(-170px);
        opacity: 1;

    }

    #CallMeGroup {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transform: translateY(200px);

    }

    #CallMeGroup i {
        text-align: center;
        margin: auto;
        font-size: 17px;
        color: white;
    }

    #CallMeGroupIcon {
        text-align: center;
        margin: auto;
        margin-left: 10.5px;
        margin-top: 12.5px;
    }

    .Card:hover #CallMeGroup {
        position: absolute;
        transform: translateX(150px);
        margin-top: 28%;
        transition: .6s;
        z-index: 3;

    }

    .Card:hover #CardBody {
        transform: translateY(25px);
        transition: .7s;

    }

    #CardBody p:nth-child(1) {
        font-size: 18px;
        text-align: center;
        font-family: 'Andale Mono', monospace;
        font-style: normal;
        font-weight: normal;
    }

    #CardBody p:nth-child(2) {
        text-align: center;
        font-size: 2.5vh;
        font-family: 'Andale Mono', monospace;


    }
    }

    @media(min-width:1024px) and (max-width:1199px) {

        .social_icons li a {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }

        .social_icons li a i {
            position: absolute;
            font-size: 10px;
            font-weight: 400;
            margin-top: 6px;
            margin-left: -5px;
        }

        .Card:hover .social_icons li a {
            transform: translateX(-100px);
            opacity: 1;

        }

        .Card .social_icons li {
            transform: translateY(-170px);
            opacity: 1;


        }

        .Card:hover .social_icons li a {
            transform: translateX(-130px);
            opacity: 1;

        }

        .Card:hover .Curved {
            position: absolute;
            transform: translateY(10px);
            margin-top: 58%;
            transition: .6s;
            z-index: 3;

        }

        #CallMeGroup {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            transform: translateY(200px);

        }

        #CallMeGroup i {
            text-align: center;
            margin: auto;
            font-size: 15px;
            color: white;
        }

        #CallMeGroupIcon {
            text-align: center;
            margin: auto;
            margin-left: 8.5px;
            margin-top: 10.5px;
        }

        .Card:hover #CallMeGroup {
            position: absolute;
            transform: translateX(120px);
            margin-top: 45%;
            transition: .6s;
            z-index: 3;

        }

        .Card:hover #CardBody {
            transform: translateY(60px);
            transition: .7s;

        }

        #CardBody p:nth-child(1) {
            font-size: 15px;
            text-align: center;
            font-family: 'Andale Mono', monospace;
            font-style: normal;
            font-weight: normal;
        }

        #CardBody p:nth-child(2) {
            text-align: center;
            font-size: 2vh;
            font-family: 'Andale Mono',
                monospace;

        }

}

@media(min-width:768px) and (max-width:1023px) {
    .SliderContainer {
        display: none;
    }

    .SliderContainer1 {
        display: block;
    }

    .SliderContainer2 {
        display: none;

    }
.SliderMenu {
    border: 1px solid black;

}
    #CardBody {
        position: relative;
        margin-top: 33%;
        height: 80px;
    }

    .SliderMenu {
        height: 470px;
    }

    .SliderMenuItem {
        margin-top: 5%;
    }
    .social_icons li a {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 50px;
        text-align: center;
        background: #184E61;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: bold;
        margin: 6px 0px;
        transform: translateX(-200px);
        transition: .7s;
        opacity: 0;
    }

    .social_icons li a i {
        position: absolute;
        font-size: 15px;
        font-weight: 500;
        margin-top: 10px;
        margin-left: -6px;
    }

    .Card:hover .social_icons li a {
        transform: translateX(-150px);
        opacity: 1;

    }

    .Card .social_icons li {
        transform: translateY(-190px);
        opacity: 1;


    }

    .Card:hover .social_icons li a {
        transform: translateX(-200px);
        opacity: 1;


    }

    .Card:hover .Curved {
        position: absolute;
        transform: translateY(10px);
        margin-top: 30%;
        transition: .6s;
        z-index: 3;

    }

    #CallMeGroup {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: blue;
        display: block;
        transform: translateY(200px);
        justify-content: center;
        align-items: center;
        margin: auto;

    }

    #CallMeGroup i {
        text-align: center;
        margin: auto;
        font-size: 18px;
        color: white;
    }

    #CallMeGroupIcon {
        text-align: center;
        margin: auto;
        margin-left: 9.5px;
        margin-top: 8.5px;
    }

    .Card:hover #CallMeGroup {
        position: absolute;
        transform: translateX(200px);
        margin-top: 22%;
        transition: .6s;
        z-index: 3;

    }

    #CardBody {
        position: relative;
        width: 90%;
        height: 45px;
        z-index: 3;
        margin: auto;
        color: white;
        align-content: flex-end;
        justify-content: center;

        line-height: 10px;
        border-radius: 10px;
        transform: translateY(350px);

    }

    .Card:hover #CardBody {
        transform: translateY(180px);
        transition: .7s;

    }

    #CardBody p:nth-child(1) {
        font-size: 20px;
        text-align: center;
        font-family: 'Andale Mono', monospace;
        font-style: normal;
        font-weight: normal;
    }

    #CardBody p:nth-child(2) {
        font-size: 15px;
        font-family: 'Andale Mono', monospace;


    }

    }

    @media(max-width:1000px) {
        .Card:hover #CardBody {
            transform: translateY(-10px);
            transition: .7s;

        }


    }

    @media(max-width:993px) {
        .Card:hover .Curved {
            height: 100%;
            width: 100%;
            border: 1px solid black;

            }

            .SliderMenuItem {
                height: auto;
                border: 1px solid red;
                overflow: hidden;
            }


            .Card {
                border: 1px solid black;
            }

        #CardBody {
            position: relative;
            width: 90%;
            height: 45px;
            z-index: 3;
            margin: auto;
            color: white;
            align-content: flex-end;
            justify-content: center;
            line-height: 5px;
            border-radius: 10px;
            transform: translateY(350px);

        }
        .Card:hover .social_icons li a {
            transform: translateX(-140px);
            opacity: 1;


        }

        .Card .social_icons li {
            transform: translateY(-180px);
            opacity: 1;


        }

        .Card:hover #CardBody {
            transform: translateY(54px);
            transition: .7s;

        }

        #CardBody p:nth-child(1) {
            font-size: 3vh;
            text-align: center;
            font-family: 'Andale Mono', monospace;
            font-style: normal;
            font-weight: normal;
        }

        #CardBody p:nth-child(2) {
            font-size: 2.3vh;
            font-family: 'Andale Mono', monospace;
        }

        .Card:hover #CallMeGroup {
            position: absolute;
            transform: translateX(142px);
            margin-top: 35%;
            transition: .6s;
            z-index: 3;

        }

    }



@media(max-width:767px) {
    .Card:hover .Curved {
        height: 100%;
        width: 100%;
        border: 1px solid black;
        margin-top: -5px;

        }
        .Card {
            border: 1px solid green;
        }

    .SliderContainer {
        display: none;
    }

    .SliderContainer1 {
        display: none;
    }

    .SliderContainer2 {
        display: block;

    }

    #CardBody {
        position: relative;
        margin-top: 30%;
        height: 80px;
    }

    .SliderMenu {
        height: 470px;
    }

    .SliderMenuItem {
        margin-top: 5%;
    }

    .SliderMenuText {
        margin-top: 1%;
    }

    .SliderMenuText1 {
        /* Subtitle / Base */

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        font-size: 5vh;
        /* or 57px */
        font-family: "Andale Mono", monospace;
        text-align: center;
        color: #010b19;
    }

    .SliderMenuText2 {
        width: 95%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 2vh;
        line-height: 160%;
        /* or 29px */

        text-align: center;
        margin: auto;

        color: #010b19;

        opacity: 0.7;
    }

    .Card:hover .social_icons li a {
        transform: translateX(-200px);
        opacity: 1;
    }

    .Card .social_icons li {
        transform: translateY(-200px);
        opacity: 1;


    }
    #CallMeGroup {

        width: 100%;
        height: 100%;
        display: block;
        justify-content: center;
        align-items: center;
        margin: auto;

    }

    #CallMeGroup i {
        width: 65px;
        height: 65px;
        padding: 10px 10px;
        border-radius: 50%;
        background-color: green;
        text-align: center;
        margin: auto;
        font-size: 18px;
        color: white;
    }
    .Card:hover #CallMeGroup {
        width: 100%;
        height: 100%;

    }

    #CallMeGroupIcon {
        text-align: center;
        margin: auto;
    }

    .Card:hover #CardBody {
        transform: translateY(30px);
        transition: .7s;

    }

    #CardBody p:nth-child(1) {
        font-size: 20px;
        text-align: center;
        font-family: 'Andale Mono', monospace;
        font-style: normal;
        font-weight: normal;
    }

    #CardBody p:nth-child(2) {
        text-align: center;
        font-size: 15px;
        font-family: 'Andale Mono', monospace;


    }
    .CardFooterText1 p:nth-child(1) {
        font-size: 2vh;
        margin-top: -1px;
    }

    }

    @media(max-width:550px) {

        .Card:hover .Curved {
            height: 100%;
            width: 100%;
            border: 1px solid black;

            }

        .Card:hover #CardBody {
            transform: translateY(39px);
            transition: .7s;

        }

        #CardBody p:nth-child(2) {
            text-align: center;
            font-size: 14px;
            font-family: 'Andale Mono', monospace;


        }

        .Card:hover #CallMeGroup {
            position: absolute;
            transform: translateX(210px);
            margin-top: 18%;
            transition: .6s;
            z-index: 3;

        }

    }

    @media(max-width:515px) {
        .Card:hover .Curved {
            position: absolute;
            transform: translateY(10px);
            margin-top: 30%;
            transition: .6s;
            z-index: 3;

        }

        .Card:hover #CardBody {
            transform: translateY(45px);
            transition: .7s;

        }

        .Card:hover #CallMeGroup {
            position: absolute;
            transform: translateX(200px);
            margin-top: 18%;
            transition: .6s;
            z-index: 3;

        }

}

@media(max-width:500px) {
    #CardBody {
        position: relative;
        margin-top: 35%;
        height: 80px;
    }

    .SliderMenu {
        height: 450px;
    }

    .SliderMenuItem {
        margin-top: 5%;
    }

    #CardBody p:nth-child(1) {
        font-size: 18px;
        font-family: 'Andale Mono', monospace;
        font-style: normal;
        font-weight: normal;
    }

    #CardBody p:nth-child(2) {
        font-size: 14px;
        font-family: 'Andale Mono', monospace;


    }

    .SliderMenuText {
        margin-top: 1%;
    }

    .SliderMenuText1 {
        /* Subtitle / Base */

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 5vh;
        line-height: 130%;
        /* or 57px */
        font-family: "Andale Mono", monospace;

        text-align: center;

        color: #010b19;
    }

    .SliderMenuText2 {
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 2vh;
        line-height: 160%;
        /* or 29px */

        text-align: center;
        margin: auto;

        color: #010b19;

        opacity: 0.7;
    }
.Card:hover .Curved {
    position: absolute;
    transform: translateY(10px);
    margin-top: 33%;
    transition: .6s;
    z-index: 3;

}

.Card:hover #CardBody {
    transform: translateY(40px);
    transition: .7s;

}

.Card:hover #CallMeGroup {
    position: absolute;
    transform: translateX(190px);
    margin-top: 18%;
    transition: .6s;
    z-index: 3;

}
}

@media(max-width:475px) {
    .Card:hover .Curved {
        position: absolute;
        transform: translateY(10px);
        margin-top: 37%;
        transition: .6s;
        z-index: 3;

    }

}

@media(max-width:475px) {
    .Card:hover .Curved {
        position: absolute;
        transform: translateY(10px);
        margin-top: 37%;
        transition: .6s;
        z-index: 3;

    }

    .Card:hover #CardBody {
        transform: translateY(55px);
        transition: .7s;

    }

    .Card:hover #CallMeGroup {
        position: absolute;
        transform: translateX(185px);
        margin-top: 23%;
        transition: .6s;
        z-index: 3;

    }

    .Card:hover .social_icons li a {
        transform: translateX(-185px);
        opacity: 1;


    }

}

@media(max-width:446px) {

    .Card:hover .Curved {
        position: absolute;
        transform: translateY(10px);
        margin-top: 40%;
        transition: .6s;
        z-index: 3;

    }

    .Card:hover #CardBody {
        transform: translateY(60px);
        transition: .7s;

    }

    #CardBody p:nth-child(1) {
        font-size: 17px;
        text-align: center;
        font-family: 'Andale Mono', monospace;
        font-style: normal;
        font-weight: normal;
    }

    #CardBody p:nth-child(2) {
        text-align: center;
        font-size: 13.5px;
        font-family: 'Andale Mono', monospace;
    }

    .Card:hover .social_icons li a {
        transform: translateX(-160px);
        opacity: 1;
    }

    .Card:hover #CallMeGroup {
        position: absolute;
        transform: translateX(165px);
        margin-top: 25%;
        transition: .6s;
        z-index: 3;

    }
}

@media(max-width:401px) and (max-width:430px) {
    .SliderMenu {
        height: 570px;
    }

    .SliderMenuText1 {
        /* Subtitle / Base */
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        /* or 57px */
        font-family: "Andale Mono", monospace;

        text-align: center;

        color: #010b19;
    }

    .SliderMenuText2 {
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5vh;
        line-height: 160%;
        margin-top: -10px;
        /* or 29px */

        text-align: center;
        margin: auto;

        color: #010b19;

        opacity: 0.7;
    }

}


@media(max-width:430px) {

    .Card:hover .Curved {
        position: absolute;
        transform: translateY(10px);
        margin-top: 43%;
        transition: .6s;
        z-index: 3;

    }

    .Card:hover #CardBody {
        transform: translateY(74px);
        transition: .7s;

    }

    #CardBody p:nth-child(1) {
        font-size: 16px;
        text-align: center;
        font-family: 'Andale Mono', monospace;
        font-style: normal;
        font-weight: normal;
    }

    #CardBody p:nth-child(2) {
        text-align: center;
        font-size: 13px;
        font-family: 'Andale Mono', monospace;
    }

    .Card:hover #CallMeGroup {
        position: absolute;
        transform: translateX(155px);
        margin-top: 27%;
        transition: .6s;
        z-index: 3;

    }
}

@media(width:414px) {

    .SliderMenuText1 {
        /* Subtitle / Base */

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        /* or 57px */
        font-family: "Andale Mono", monospace;

        text-align: center;

        color: #010b19;
    }

    .SliderMenuText2 {
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 160%;
        /* or 29px */

        text-align: center;
        margin: auto;

        color: #010b19;

        opacity: 0.7;
    }

    .SliderMenu {
        height: 550px;
    }

    .Card:hover .Curved {
        position: absolute;
        transform: translateY(10px);
        margin-top: 84%;
        transition: .6s;
        z-index: 3;

    }

    .Card:hover #CallMeGroup {
        position: absolute;
        transform: translateX(150px);
        margin-top: 65%;
        transition: .6s;
        z-index: 3;

    }

    .Card:hover #CardBody {
        transform: translateY(210px);
        transition: .7s;

    }

    .Card .social_icons li {
        transform: translateY(-255px);
        opacity: 1;


    }

}

@media(width:411px) {

    .SliderMenuText1 {
        /* Subtitle / Base */

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 130%;
        /* or 57px */
        font-family: "Andale Mono", monospace;

        text-align: center;

        color: #010b19;
    }

    .SliderMenuText2 {
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 160%;
        /* or 29px */

        text-align: center;
        margin: auto;

        color: #010b19;

        opacity: 0.7;
    }

    .SliderMenu {
        height: 550px;
    }

    .Card:hover .Curved {
        position: absolute;
        transform: translateY(10px);
        margin-top: 97%;
        transition: .6s;
        z-index: 3;

    }

    .Card:hover #CallMeGroup {
        position: absolute;
        transform: translateX(150px);
        margin-top: 75%;
        transition: .6s;
        z-index: 3;

    }

    .Card:hover #CardBody {
        transform: translateY(255px);
        transition: .7s;

    }

    .Card:hover .social_icons li a {
        transform: translateX(-145px);
        opacity: 1;


    }

    .Card .social_icons li {
        transform: translateY(-280px);
        opacity: 1;


    }
}

@media(max-width:410px) {

    .Card:hover .Curved {
        position: absolute;
        transform: translateY(10px);
        margin-top: 45%;
        transition: .6s;
        z-index: 3;

    }

    .Card:hover #CardBody {
        transform: translateY(70px);
        transition: .7s;

    }

    #CardBody p:nth-child(1) {
        font-size: 16px;
        text-align: center;
        font-family: 'Andale Mono', monospace;
        font-style: normal;
        font-weight: normal;
    }

    #CardBody p:nth-child(2) {
        text-align: center;
        font-size: 13px;
        font-family: 'Andale Mono', monospace;
    }

}

@media(max-width:400px) {
    #CardBody {
        position: relative;
        margin-top: 50%;
        height: 80px;
    }

    .SliderMenu {
        height: 470px;
    }

    .SliderMenuItem {
        margin-top: 5%;
    }

    .Card:hover .Curved {
        position: absolute;
        transform: translateY(10px);
        margin-top: 48%;
        transition: .6s;
        z-index: 3;

    }

    .Card:hover #CardBody {
        transform: translateY(35px);
        transition: .7s;

    }

    #CardBody p:nth-child(1) {
        font-size: 16px;
        font-family: 'Andale Mono',
        monospace;
        font-style: normal;
        font-weight: normal;
        }

        #CardBody p:nth-child(2) {
            font-size: 12px;
            font-family: 'Andale Mono', monospace;


        }

        .SliderMenuText1 {
            /* Subtitle / Base */
            width: 100%;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 130%;
            /* or 57px */
            font-family: "Andale Mono",
            monospace;

            text-align: center;

            color: #010b19;
            }

            .SliderMenuText2 {
                width: 100%;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 1.5vh;
                line-height: 160%;
                margin-top: -10px;
                /* or 29px */

                text-align: center;
                margin: auto;

                color: #010b19;

                opacity: 0.7;
            }

            .Card:hover #CallMeGroup {
                position: absolute;
                transform: translateX(145px);
                margin-top: 32%;
                transition: .6s;
                z-index: 3;

            }

            .Card:hover .social_icons li a {
                transform: translateX(-150px);
                opacity: 1;


            }
            }

            @media(max-width:387px) {

                .Card:hover .Curved {
                    position: absolute;
                    transform: translateY(10px);
                    margin-top: 51%;
                    transition: .6s;
                    z-index: 3;

                }

                .Card:hover #CardBody {
                    transform: translateY(39px);
                    transition: .7s;

                }

                #CardBody p:nth-child(1) {
                    font-size: 15px;
                    text-align: center;
                    font-family: 'Andale Mono',
                        monospace;
                    font-style: normal;
                    font-weight: normal;
                }

                #CardBody p:nth-child(2) {
                    text-align: center;
                    font-size: 12px;
                    font-family: 'Andale Mono',
                        monospace;
                }

                #CallMeGroup {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #1CC198;
                    display: block;
                    transform: translateY(200px);
                    justify-content: center;
                    align-items: center;
                    margin: auto;

                }

                #CallMeGroup i {
                    text-align: center;
                    margin: auto;
                    font-size: 18px;
                    color: white;
                }

                #CallMeGroupIcon {
                    text-align: center;
                    margin: auto;
                    margin-left: 10px;
                    margin-top: 12.5px;
                }

                .Card:hover #CallMeGroup {
                    position: absolute;
                    transform: translateX(144px);
                    margin-top: 35%;
                    transition: .6s;
                    z-index: 3;

                }

                .social_icons li a {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                .social_icons li a i {
                    position: absolute;
                    font-size: 15px;
                    margin-top: 9px;
                    margin-left: -7px;
                }

                .Card:hover .social_icons li a {
                    transform: translateX(-150px);
                    opacity: 1;


                }

                .Card .social_icons li {
                    transform: translateY(-190px);
                    opacity: 1;


                }
            }

            @media(width:375px) {
                .Card:hover .Curved {
                    position: absolute;
                    transform: translateY(10px);
                    margin-top: 85%;
                    transition: .6s;
                    z-index: 3;

                }

                .Card:hover #CallMeGroup {
                    position: absolute;
                    transform: translateX(130px);
                    margin-top: 70%;
                    transition: .6s;
                    z-index: 3;

                }

                .Card .social_icons li {
                    transform: translateY(-240px);
                    opacity: 1;


                }

                .Card:hover #CardBody {
                    transform: translateY(150px);
                    transition: .7s;

                }
            }

            @media(max-width:374px) {
                .Card:hover .Curved {
                    position: absolute;
                    transform: translateY(10px);
                    margin-top: 54%;
                    transition: .6s;
                    z-index: 3;

                }

                .Card:hover #CallMeGroup {
                    position: absolute;
                    transform: translateX(134px);
                    margin-top: 35%;
                    transition: .6s;
                    z-index: 3;

                }

                .Card:hover #CardBody {
                    transform: translateY(50px);
                    transition: .7s;

                }

                .Card:hover .social_icons li a {
                    transform: translateX(-145px);
                    opacity: 1;


                }

                #CardBody p:nth-child(1) {
                    font-size: 15x;
                    text-align: center;
                    font-family: 'Andale Mono',
                        monospace;
                    font-style: normal;
                    font-weight: normal;
                }

            #CardBody p:nth-child(2) {
                font-size: 11.5px;
                font-family: 'Andale Mono',
                monospace;
                }
                }

                @media(max-width:361px) {
                    #CardBody p:nth-child(2) {
                        font-size: 11px;
                        font-family: 'Andale Mono', monospace;
                    }

                    .Card:hover #CallMeGroup {
                        position: absolute;
                        transform: translateX(128px);
                        margin-top: 35%;
                        transition: .6s;
                        z-index: 3;

                    }

                    .Card:hover .social_icons li a {
                        transform: translateX(-140px);
                        opacity: 1;


                    }
                }

                @media(width:360px) {
                    .Card:hover .Curved {
                        position: absolute;
                        transform: translateY(10px);
                        margin-top: 85%;
                        transition: .6s;
                        z-index: 3;

                    }

                    .Card:hover #CallMeGroup {
                        position: absolute;
                        transform: translateX(130px);
                        margin-top: 60%;
                        transition: .6s;
                        z-index: 3;

                    }

                    .Card:hover #CardBody {
                        transform: translateY(140px);
                        transition: .7s;

                    }
                }

                @media(max-width:358px) {
                    #CardBody p:nth-child(2) {
                        font-size: 11px;
        font-family: 'Andale Mono', monospace;
    }

    .Card:hover #CallMeGroup {
        position: absolute;
        transform: translateX(128px);
        margin-top: 35%;
        transition: .6s;
        z-index: 3;

    }

    .Card:hover .social_icons li a {
        transform: translateX(-140px);
        opacity: 1;


    }

    .Card:hover .Curved {
        position: absolute;
        transform: translateY(10px);
        margin-top: 56%;
        transition: .6s;
        z-index: 3;

    }

    .Card:hover #CardBody {
        transform: translateY(55px);
        transition: .7s;

    }
}