.medicines {
  background-color: #fff;
}
.medicine {
  padding: 10px 10px 0 10px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(270deg, #0a4fb6 -9.87%, #28859a 111.47%);
  width: 100%;
  min-height: 55vh;
}
.medicine div,
.medicine h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  color: azure;
}
.medicine > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.medicine .madicine_button {
  padding: 0 20px 20px 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.madicine_button button,
.madicine_button a,
.madicine_button a:hover {
  color: #fff;
}
.info_row_video {
  height: 50vh;
}
.info_row_video .col-sm-12 {
  padding: 10px;
}
@media screen and (max-width: 800px) {
  .medicines .container {
    width: 100%;
    margin: 0;
  }
}
