.dorilar_header {
  background-image: linear-gradient(270deg, #0a4fb6 -9.87%, #28859a 111.47%);
  width: 100%;
}
.margin_for {
  margin-top: 125px;
}
.dorilar-nav > a {
  width: 160px;
  text-align: center;
  border-radius: 5px;
  margin: 3px;
  border: 1px solid #fff;
}
.dorilar-nav > a:hover {
  background-color: #28859a;
}
.dorilar-nav a > a,
.dorilar-nav span {
  font-family: "Andale Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.9;
}
.dorilar-main {
  width: 100%;
  height: 100%;

  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.brookings.edu%2Fessay%2Fgovernment-regulated-or-negotiated-drug-prices-key-design-considerations%2F&psig=AOvVaw3NvxDmoCnAUiiQarVWTYBJ&ust=1631196822373000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPC85e7H7_ICFQAAAAAdAAAAABAg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}
.medicines {
  background-color: #fff;
}
.medicine {
  min-height: 40vh;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(270deg, #0a4fb6 -9.87%, #28859a 111.47%);
}
.medicine .col-lg-4,
.medicine .col-sm-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.medicine .col-lg-4:first-child > div,
.medicine .col-sm-6:first-child > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
}
.medicine div,
.medicine h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  color: azure;
}

.medicine .madicine_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.madicine_button button,
.madicine_button a,
.madicine_button a:hover {
  color: #fff;
}
.info_row_video {
  height: 50vh;
}
.info_row_video .col-sm-12 {
  padding: 10px;
}
.menu-dorilar {
  display: none;
}
.dorilar-res-menu {
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-image: linear-gradient(270deg, #0a4fb6 -9.87%, #28859a 111.47%);
  display: none;
}
@media screen and (max-width: 800px) {
  .medicines .container {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 922px) {
  .medicine .col-lg-4:first-child > div,
  .medicine .col-sm-6:first-child > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
  }
  .medicine .col-lg-4,
  .medicine .col-sm-6 {
    padding: 0 15px;
  }
  .active {
    display: none;
  }
  .menu-dorilar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
  }
  .dorilar-res-menu {
    display: block;
  }
  .dorilar-navbar a > a,
  .dorilar-navbar span {
    font-family: "Andale Mono", monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 160%;
    color: #fff;
    opacity: 0.9;
    font-size: 1.2rem;
  }
  .dorilar-navbar {
    margin: 0 auto;
    width: 80%;
  }
  .dorilar-navbar > a {
    text-align: center;
    border-radius: 5px;
    margin: 3px;
    border: 1px solid #ffd;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
