* {
    padding: 0;
    margin: 0;
}

.carousel .slick-prev,
.slick-next {
    width: 50%;
    height: 50px;
    background-color: white;
}

.carousel .slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: white;
    outline: none;
    background: #fff;

}

.carousel .slick-prev::before,
.slick-next::before {
    color: #000000;
    font-family: sans-serif;
}

.carousel .slick-next {
    right: -55px;

}

.carousel .slick-prev {
    left: -55px;
}